python-telegram-bot==20.3
gspread==5.9.0
oauth2client==4.1.3
pytz==2023.3
python-dotenv==1.0.0
[tool.poetry.dependencies]
python = "^3.9"
python-telegram-bot = {extras = ["job-queue"], version = "^20.0"}
